.box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    .leftContent{
        width: 50px;
        height: 100%;
        margin-left: 20px;
    }
    .rightContent{
        width: 300px;
        height: 100%;
        margin-right: 20px;
        ul,li{
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: right;
        }
    }
}
