.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background, .ant-layout-footer,.ant-layout-sider-children {
    background: #141414;
    color: #858585;
  }
  .ant-layout{
    background-color: #000000;
  }
  .ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub{
    background: #141414;
  }
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: #2e2e2e;
  }
  .ant-input-group-addon::selection{
    background:#636363
  }