@import '..\\..\\assets\\css\\_comment.scss';
$headerHeight:37px;
$screenWidth:1400px;
$screenHeight:600px;
$bodyHeight:$screenHeight - $headerHeight;
$sideBoxHeight:200px;
.my-component {
    background: #fff;
  }
  
  .fullscreen-enabled .my-component {
    background: #000;
  }
.visualPanel {
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: #0d112e;
    position: relative;
    button{
        position: absolute;
        right: 0px;
    }
}
.visualPanel_full {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #0d112e;
    button{
        position: absolute;
        right: 0px;
    }
}
.panelContent {
        width: 1400px;
        height: 600px;
        margin: 0 auto;
        header {
            text-align: center;
            // color:white;
            // font-size: 10rem;
            @include visual-font-style;
        }
        span{
            display: inline-block;
            right: 10px;
            top: 0px;
            width: 30px;
            height: 10px;
        }
}  
.body{
    display: flex;
    flex-direction:columns;
    .side{
        width: 20%;
        height: $bodyHeight;
        .sideBox{
            width: 100%;
            height: $sideBoxHeight;
           // background-color:chocolate;
        }
    }
    .center{
        width: 60%;
        height: $bodyHeight;
        //background-color: red;
    }
}
