.content {
  width: 100%;
  height: 100%;
}

.content .header {
  width: 100%;
  height: 40px;
}

.content .cardGroup {
  min-width: 1000px;
  background-color: coral;
}

.content .cardGroup .card {
  float: left;
  margin: 10px;
  cursor: pointer;
}

.content .cardGroup .card:hover {
  border: 1px solid #ccc;
}
