.ant-card{
    background-color: #141414;
}
.ant-card-head{
    color: #858585;
}
.site-card-border-less-wrapper {
    padding: 30px;
    background: black;
}
.ant-btn .ant-btn-primary .ant-btn-lg .ant-input-search-button{
    background-color: #141414;
}