$headerHeight:40px;
$cardGroupWidth:1000px;
.content{
    width: 100%;
    height: 100%;
    .header{
        width: 100%;
        height: $headerHeight;
    }
    .cardGroup{
        min-width: $cardGroupWidth;       
        .card{
            float: left;
            margin: 10px;
            cursor: pointer;
            box-sizing: border-box;
        }
        .card:hover{
            box-shadow: 0px 0px 5px #888888;
        }
    }
}