.ant-card{
    background-color: #141414;
}
.ant-card-head{
    color: #858585;
}
.site-card-border-less-wrapper {
    padding: 30px;
    background: black;
}
.ant-btn .ant-btn-primary .ant-btn-lg .ant-input-search-button{
    background-color: #141414;
}
.ant-btn .ant-btn-primary .ant-btn-lg .ant-input-search-button:hover{
    background-color: #797979;
}
.ant-btn-primary{
    background: #141414;
    border-color: #141414;
}
.ant-input-affix-wrapper{
    background-color: #3d3d3d;
    border-color: #545454;
}
.ant-input{
    background-color: #3d3d3d;
}
