$headerHeight:40px;
$cardGroupWidth:100%;
.content{
    width: 100%;
    height: 100%;
    .header{
        width: 100%;
        height: $headerHeight;
    }
    .cardGroup{
        width: $cardGroupWidth;
        // justify-content: space-evenly;
        // align-items: center;
        flex-direction:column;
        background-color: coral;
    }
}